@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.select-card {
  min-width: 400px;
  max-width: 650px;
}

.border-1 {
  border-width: 1px;
  border-color: black;
}

.square {
  position: relative;
  height: 0;
  width: 50%;
  padding-bottom: 50%;
}

.media-card {
  height: 240px !important;
  width: 320px !important;
}

.background-color {
  background-color: #3d3c40;
}

.kulami-board-background {
  /* background-image: url("./assets/wood_background.jpg"); */
  background-color: #BA8C63;
  background-size: contain;
  padding: 2rem !important;
}

.chat-message {
  width: full;
  height: 30px;
  /* display: flex;
  align-items: center */
}

.chat-bubble {
  padding: 3px;
}

.chat-me {
  float: left;
  margin-left: 15px;
  background-color: #e6e5eb;
  border-radius: 3px;
  /* padding: ; */
}

.chat-opponent {
  float: right;
  margin-right: 15px;
  background-color: #158ffe;
  border-radius: 3px;
}
